<server description="defaultServer">
    <featureManager>
        <feature>jakartaee-8.0</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />
    </basicRegistry>

    <keyStore id="defaultKeyStore" password="password" />

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" /> 
</server>