
body .ui-widget {
    font-size: 14px;
}

.ui-widget-header .ui-panel-title .heading-underline {
    font-size: 24px;
    color: #1b208b;
}

.footnote {
    margin-top: .5rem;
    font-weight: 250;
}

.ui-panelgrid .ui-panelgrid-footer.ui-widget-header {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-container .input-field {
    flex-grow: 1;
    margin-right: 10px;
}

.starter .header-wrapper.header-default-bg-img {
    background-position: -140px 0;
}

/* TODO: Make responsive */
.starter .header-wrapper .jumbotron .app-name {
    font-size: 18px;
    margin-bottom: .5rem;
}

.starter .header-wrapper .jumbotron h1.app-heading {
    color: #f98200;
}

.starter .header-wrapper.header-secondary-bg-img .featured-jumbotron {
    padding-top: 100px;
}

.starter .header-wrapper .featured-jumbotron .container {
    text-align: center;
}

.starter .content {
    position: relative;
    top: -100px;
    /* TODO: Add breakpoints */
}

body.starter .ui-panel .ui-panel-content {
    border-radius: 20px;
    box-shadow: 5px 10px 10px 0 #00000026;
    padding: 4rem;
}

.starter .ui-panelgrid .ui-panelgrid-footer {
    padding: 2rem 0 0 0;
}

.starter .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

body .ui-button.btn-secondary {
    /*margin-top: 1rem;*/
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    background-color: #f98200;
    border-color: #f98200;
    color: #fff;
}

.chevron-right {

    /*.chevron-right {*/
    /*    display: inline-block;*/
    /*    width: 16px; !* Adjust width as needed *!*/
    /*    height: 16px; !* Adjust height as needed *!*/
    /*    background-image: url(#{resources[ 'icon-chevron-right.svg' ]});*/
    /*    background-size: contain;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: center;*/
    /*}*/
        display: inline-block;
        width: 16px; /* Adjust width as needed */
        height: 16px; /* Adjust height as needed */
    background-image: url(#{resource['chevron-right.svg']});
}
